<mat-card>
    <mat-card-header>
        <span>{{label}}</span>
    </mat-card-header>
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
        
    </mat-drawer-content>
</mat-drawer-container> -->
  