mat-card{
    height: 100%;
    
    background: linear-gradient(#414141,#000000)
}
.mat-card-content{
    span{
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 1rem;

        &:hover{
            background-color: rgb(247, 237, 234);
        }
    }
    
}