<app-card>
    <mat-card>
        <div>
            <h1>LeaderBoard</h1>
            <mat-form-field class="example-full-width">
               
                <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "searchValue">
                <button matSuffix mat-button (click)="search()"><mat-icon >search</mat-icon></button>
            </mat-form-field>
            
        </div>
        <div>
    
        </div>
    </mat-card>

    <div class="filter">

        <div>
          <mat-form-field>
            <mat-label><mat-icon>sort</mat-icon>Sort</mat-label>
            <mat-select (selectionChange)="selectChange($event)">
              <mat-option value="gameDuration">
                gameDuration
              </mat-option>
              <mat-option value="score">
                score
              </mat-option>
            </mat-select>
            
          </mat-form-field>
          <div class="arrows">
            <button mat-button (click)="ascendingOrder()"><mat-icon>arrow_upward</mat-icon></button>
            <button mat-button (click)="dscendingOrder()"><mat-icon mat-button>arrow_downward</mat-icon></button>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Page Size</mat-label>
          <mat-select (selectionChange)="selectPageSize($event)">
            <mat-option *ngFor="let item of pages" [value]="item" >
              {{item}}
            </mat-option>
          </mat-select>
          
        </mat-form-field>
        <mat-form-field>
            <mat-label><mat-icon>filter_list</mat-icon>Filter Categories</mat-label>
            <mat-select (selectionChange)="selectFilterCategory($event)" multiple>
              <mat-option *ngFor="let item of categories" [value]="item.categoryName">
                {{ item.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
       
      </div>
    <mat-card class="cards" id="heading">
        <p>Tournament Id</p>
        <p>Tournament Name</p>
        <p>PlayerId</p>
        <p>PlayerName</p>
        <p>Score</p>
        <p>Game Duration</p>
    </mat-card>
    <mat-card class="cards" *ngFor="let item of leaderboardData">
        <p>{{item.tournamentId}}</p>
        <p>{{item.tournamentName}}</p>
        <p>{{item.playerId}}</p>
        <p>{{item.playerName}}</p>
        <p>{{item.score}}</p>
        <p>{{(item.gameDuration/1000)|formatTime}}</p>
    </mat-card>

    <div class="page_buttons">
        <button mat-button color="accent" (click)="previous()"><mat-icon>arrow_back_ios</mat-icon></button>
        <button mat-button color="accent" (click)="nextPage()"><mat-icon>arrow_forward_ios</mat-icon></button>
        
      </div>
</app-card>

<!-- <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field> -->