.form-container{
    height: 100vh;
    display: flex;
    padding: 2rem;
    
    justify-content: center;
    align-items: center;
    // background-color: skyblue;
    background: url('../../../assets/images/bg2.jpg');
    background-size: contain;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
mat-tab-group{
    background-color: white;
    border-radius: 4px 4px rgba(0,0,0,0.5);
    
}
.link{
    margin-top: 1rem;
}