<form
  action=""
  class="form"
  [formGroup]="forgotPassword"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="outline">
    <mat-label> Email </mat-label>
    <input
      matInput
      placeholder="Enter Email"
      formControlName="email"
      type="email"
    />
    <mat-error
      *ngIf="
        forgotPassword.controls['email'].hasError('email') &&
        !forgotPassword.controls['email'].hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="forgotPassword.controls['email'].hasError('required')">
      Email is required
    </mat-error>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <!-- <app-input [label]="'Email'" placeholder="Enter Email" control="email" type="email"></app-input> -->

  <mat-form-field appearance="outline">
    <mat-label> OTP </mat-label>
    <input type="text" matInput placeholder="Enter OTP" formControlName="otp" />
    <mat-error *ngIf="forgotPassword.controls['otp'].hasError('required')">
      otp is required
    </mat-error>
    <mat-hint>Enter the name</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Password </mat-label>
    <input
      type="password"
      matInput
      placeholder="Enter New Password"
      formControlName="newPassWord"
    />
    <mat-error
      *ngIf="forgotPassword.controls['newPassWord'].hasError('required')"
    >
      password is required
      <ng-template #minlength> Minimum 6 characters </ng-template>
    </mat-error>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <div class="button">
    <button type="submit" mat-raised-button color="primary">Sign Up</button>
  </div>
</form>
