<div class="navbar">
    <mat-toolbar> 
        <div>
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button> -->
              <img src="../../../../../assets/images/hangman2.jpg" alt="">
            <div class="heading">{{heading}}</div>
        </div>
       
     <div class="content">
        <ng-content></ng-content>
     </div>
    
     </mat-toolbar>
</div>