mat-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    
    div{
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;

        .heading{
            color: red;
        }
    }
}
img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
}