<div class="main">
    <h1>All Tournaments</h1>
    <ng-container *ngFor="let request of pendingRequests">
      <mat-card class="card">
        <div class="details">
          <img src="../../../../../assets/images/hangman.png" alt="" />
          <span>ID: {{ request.redeemRequestId }}</span>
          <span>{{ request.playerId}}</span>
          <span>{{ request.playerName | uppercase}}</span>
          <span>{{ request.giftName }}</span>
          
      
          <app-button
            label="Accept"
            color="accent"
            (onClick)="acceptRedeemRequest(request.redeemRequestId)"
          ></app-button>
          <app-button
            label="Reject"
            color="accent"
            (onClick)="rejectRedeemRequest(request.redeemRequestId)"
          ></app-button>
        </div>
      </mat-card>
    </ng-container>
  </div>
