<app-card>
    <div class="head"><h1>Gifts</h1></div>
    <app-button [label]="'Add Gift'" color="accent" (onClick)="openAddGiftDialog()"></app-button>
    <app-table [dataColumns]="giftColumns" [dataSource]="giftsList" [buttons]="buttons">

    </app-table>
</app-card>