<div class="main">
    <h1>All Tournaments</h1>
    <ng-container *ngFor="let game of playedTounaments">
      <app-card class="card">
        <div class="details">
          <img src="../../../../../assets/images/hangman.png" alt="" />
          <span>ID: {{ game.tournamentId }}</span>
          <span>{{ game.tournamentName | uppercase }}</span>
         <span>Game Duration: {{ (game.gameDuration / 1000)| formatTime }}</span>
          <span>Score: {{game.score}}</span>
         
        </div>
      </app-card>
    </ng-container>
  </div>
  