<section>
    <app-navbar>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="leaderboard">Leaderboard</button>
          <button mat-menu-item routerLink="requests">Requests</button>
          <button mat-menu-item (click)="logOut()">Log Out ></button>
        </mat-menu>
        
        <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        routerLink="profile">
        <mat-icon routerLink="profile">perm_identity</mat-icon>
      </button>
    </app-navbar>
  <div class="main">
    <div class="sidebar">
        <app-sidebar>
            <p routerLink="players">Players</p>
            <p routerLink="categories">Categories</p>
            <p routerLink="products">Gifts</p>
        </app-sidebar>
    </div>
    <div class="details">
      <router-outlet></router-outlet>
      <!-- <app-form></app-form> -->
    </div>
  </div>
</section>
