<app-card>
    <div class="head">
        <h1>Categories</h1>

    </div>
    <app-button label="Add New" color="accent" (onClick)="openAddCategoryDialog()"></app-button>
    <app-table [dataColumns]="categoriesColumns" [dataSource]="categories" [buttons]="buttons">

    </app-table>
</app-card>