.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.submit{
    align-self: center;
}
mat-card{
    background-color: rgb(218, 218, 218);
}