<mat-card>
  <h1>Create New Game</h1>
  <form
    [formGroup]="createGameForm"
    class="form"
    (ngSubmit)="onSubmit(createGameForm.value)"
  >
    <app-input
      label="Tournament Name"
      type="text"
      placeholder="Enter The Tournament Name"
      formControlName="tournamentName"
    ></app-input>
    <app-input
    label="First Price"
    type="number"
    placeholder="Enter The 1st Price"
    formControlName="firstPriceCoins"
  >
  </app-input>
  <app-input
    label="Second Price"
    type="number"
    placeholder="Enter The 2nd Price"
    formControlName="secondPriceCoins"
  >
  </app-input>
  <app-input
    label="Third Price"
    type="number"
    placeholder="Enter The 3rd Price"
    formControlName="thirdPriceCoins"
  >
  </app-input>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categoryList" multiple>
        <mat-option *ngFor="let item of categoriesList" [value]="item.categoryName">
          {{ item.categoryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div formArrayName="wordDtoList">
      <div
        *ngFor="let question of getControls(); let i = index"
        class="questions"
        formGroupName="{{ i }}"
      >
        <label>Question {{ i + 1 }} </label>
        <!-- <input [formControl]="phone" type="text"> -->
        <app-input
          label="Question {{ i + 1 }}"
          formControlName="wordName"
          type="text"
          placeholder="Enter the {{ i }}st Question"
        ></app-input>
        <app-input
          label="hint"
          formControlName="hintName"
          type="text"
          placeholder=""
        ></app-input>
        <!-- <app-input
          label="hint 2"
          formControlName="hint2"
          type="text"
          placeholder=""
        ></app-input>
        <app-input
          label="hint 3"
          formControlName="hint3"
          type="text"
          placeholder=""
        ></app-input> -->
        <button mat-button (click)="addQuestion()" type="button">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button (click)="removeQuestion(i)" type="button">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

    

    <app-button
      color="primary"
      label="Submit"
      type="submit"
      class="submit"
    ></app-button>
  </form>
</mat-card>
