

    <mat-card class="main-card" *ngIf="outlet.isActivated == false">
        <mat-card class="heading-card">
            <h1>Tournament Details</h1>
        </mat-card>
       <div class="head">
        <h2>{{tournament}}</h2>
        <h2>{{tournament}}</h2>
        <h2>Questions:10</h2>
       </div>
        <div class="main">
            <span>Categories</span>
            <span> <mat-icon>verified</mat-icon>1st winning Price: <mat-icon>monetization_on</mat-icon></span>
           
            <span> <mat-icon>verified</mat-icon>2nd winning Price:  <mat-icon>monetization_on</mat-icon></span>
           
            <span> <mat-icon>verified</mat-icon>3rd winning Price: <mat-icon>monetization_on</mat-icon></span>
            
        </div>
        <div class="button"><app-button [label]="'Play'" color="accent" routerLink="game"></app-button></div>
    
    
    </mat-card>


<router-outlet #outlet="outlet"></router-outlet>