.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    span{
        margin: 1rem;
    }
}
.button{
    display: flex;
    justify-content: center;
}
.main-card{
    color: white;
    // background-color: rgb(36, 36, 36);
background: linear-gradient(#04619F
,
#000000);
}
.heading-card{
    background-color: rgb(52, 153, 167)(75, 47, 47);
}