mat-card{
    margin: 0.5rem;
    background-color: rgb(216, 50, 100);
    color: white;
    p{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}
.head{
    background-color: rgb(2, 143, 209);
    
}
mat-icon{
    color: gold;
}
.coins{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    button{
        background-color: rgb(36, 178, 243);
        color: white;
        align-items: center;
    }
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}