<app-card>
    <h1>LeaderBoard</h1>
    <mat-card class="head">
        <p>
            <span>Rank</span>
            <span>Tournament Id</span>
            <span>Player Id</span>
            <span>Duration</span>
           
            <span class="coins">Coins<mat-icon> monetization_on</mat-icon></span></p>
    </mat-card>
    <mat-card class="details" *ngFor="let player of leaderBoardDetails let i=index">
            <span>{{i}}</span>
            <span>{{player.tournamentId}}</span>
            <span>{{player.playerId}}</span>
            <span>{{ player.gameDuration }}</span>
            
            <p><span class="coins">{{player.score}}<mat-icon> monetization_on</mat-icon></span></p>
    </mat-card>
   <div>
    <button mat-raised-button (click)="goToAllTournaments()">Exit</button>
   </div>
</app-card>
