mat-dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
app-button{
    margin: 0.5rem;
}