
 <h2 mat-dialog-title>{{ data.title }}</h2>
 <mat-dialog-content>
     <mat-card>
       <p>{{ data.message }}</p>
       <p>You Have Completed in {{ data.time| formatTime }}</p>
       <p>Your Total Score Are {{ data.score }}</p>
     </mat-card>
   </mat-dialog-content>
   <mat-dialog-actions>
     <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="accent">
       {{ data.action2 }}
     </button>
     <!-- <button mat-button mat-dialog-close mat-dialog-close="false">{{data.action2}}</button> -->
   </mat-dialog-actions>
