<div class="main">
    <h1>All Tournaments</h1>
    <ng-container *ngFor="let game of myTournaments">
      <app-card class="card">
        <div class="details">
          <img src="../../../../../assets/images/hangman.png" alt="" />
          <span>ID: {{ game.tournamentId }}</span>
          <span>{{ game.tournamentName | uppercase }}</span>
          <div class="prizes">
              <span>Prizes</span>
              <span>1st Prize: {{ game.firstPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
              <span>2nd Prize: {{ game.secondPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
              <span>3rd Prize: {{ game.thirdPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
          </div>
          <span *ngFor="let category of game.categoryList">{{ category }}</span>
          <span>Status: {{game.tournamentStatus}}</span>
          <app-button label="Stop" color="accent" (onClick)="stopTournament(game.tournamentId)"></app-button>
          <app-button label="Delete" color="accent" (onClick)="deleteTournament(game.tournamentId)"></app-button>
        </div>
      </app-card>
    </ng-container>
  </div>
  