div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    width: 4rem;
    height: 4rem;
}
.main{
    display: flex;
    flex-direction: column;
}
.details{
    span{
        font-family: cursive;
    }
}
.prizes{
    display: flex;
    flex-direction: column;
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    mat-icon{
        color: gold;
    }
}