<!-- <form [formGroup]="formgroup">
  <app-input [type]="'text'" [label]="'Email'" placeholder="Enter the Email" [control]="'email'">

  </app-input>
  <app-input [type]="'text'" [label]="'Name'" placeholder="Enter the Name" [control]="'name'">
  
  </app-input>
</form> -->
<!-- <app-sign-up-login></app-sign-up-login> -->

<!-- <app-login-signup></app-login-signup> -->
<router-outlet></router-outlet>