<div class="main">
  <h1>All Tournaments</h1>
  <div class="filter">

    <div>
      <mat-form-field>
        <mat-label><mat-icon>sort</mat-icon>Sort</mat-label>
        <mat-select (selectionChange)="selectChange($event)">
          <mat-option *ngFor="let item of sortByList" [value]="item" >
            {{item}}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <div class="arrows">
        <button mat-button (click)="ascendingOrder()"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-button (click)="dscendingOrder()"><mat-icon mat-button>arrow_downward</mat-icon></button>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Page Size</mat-label>
      <mat-select (selectionChange)="selectPageSize($event)">
        <mat-option *ngFor="let item of pages" [value]="item" >
          {{item}}
        </mat-option>
      </mat-select>
      
    </mat-form-field>
    <mat-form-field>
      <mat-label><mat-icon>filter_list</mat-icon>Filter Categories</mat-label>
      <mat-select (selectionChange)="selectFilterCategory($event)" multiple>
        <mat-option *ngFor="let item of categories" [value]="item.categoryName">
          {{ item.categoryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngFor="let game of tournaments">
    <app-card class="card">
      
      <div class="details">
        <img src="../../../../../assets/images/hangman.png" alt="" />
        <span>ID: {{ game.tournamentId }}</span>
        <span>{{ game.tournamentName | uppercase }}</span>
        <div class="prizes">
            <span>Prizes</span>
            <span>1st Prize: {{ game.firstPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
            <span>2nd Prize: {{ game.secondPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
            <span>3rd Prize: {{ game.thirdPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
        </div>
        <div class="list" *ngIf="game.categoryList!==null;else noCategory">
          <span *ngFor="let category of game.categoryList">{{ category }}</span>
        </div>
        <ng-template #noCategory>
          <span>Any</span>
        </ng-template>
        <app-button
          label="Play Now"
          color="accent"
        
          (onClick)="goToGamePage(game.tournamentId)"
        ></app-button>
      </div>
    </app-card>
    
  </ng-container>
  <div class="page_buttons">
      <button mat-button color="accent" (click)="previous()"><mat-icon>arrow_back_ios</mat-icon></button>
      <button mat-button color="accent" (click)="nextPage()"><mat-icon>arrow_forward_ios</mat-icon></button>
      
    </div>
</div>

<!-- <router-outlet #outlet="outlet"></router-outlet> -->
