img {
  width: 16rem;
  min-height: 16rem;
}
.game_name {
  color: black;
  background-color: white;
  // background: linear-gradient(#B82E1F,#000000);
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  display: flex;
  justify-content: center;
}
.question {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin: 0.5rem 1rem;
  }
  mat-icon {
    margin: 0.5rem;
  }
}
.dashes {
  font-family: cursive;
  font-size: 2rem;
    padding: 1rem;
}
.letters{
    span{
        // display: none;
        font-family: cursive;
      font-size: 2rem;
        padding: 1.3rem;
    }
}

.dashes_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.start-button{
    position: relative;
    left: 45%;
    margin: 4px;
    font-size: 1rem;
    font-family: cursive;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(228, 19, 54);
    color: white;
    box-shadow: 2px 4px rgba(0,0,0,0.3);
}

.timer{
    display: flex;
    flex-direction: row;
    align-items: center;

   
}
.bg-color .mat-dialog-container{
    background: linear-gradient(#04619F,#000000);;
  }