<app-card *ngIf="outlet.isActivated == false">
  <mat-card class="game_name">
    <h1>Tournament Name</h1>
  </mat-card>
  <div>
    <div class="heading">
      <h2>{{ count }} / {{ qns }}</h2>
      <h2 class="timer">
        <mat-icon>av_timer</mat-icon>
        <span>{{counter | formatTime }}</span>
     </h2>
      <h2>Chances Remaining: {{ remainingMistakes }}</h2>
    </div>
    <div class="image">
      <img src="../../../../../assets/images/hangman.png" alt="" />
    </div>
    <button
      class="start-button"
      mat-raise-button
      color="accent"
      (click)="startGame()"
      *ngIf="!started"
    >
      Start
    </button>
    <ng-container *ngIf="started">
      <div class="question">
        <app-questions [question]="question"></app-questions>
        <button mat-button (click)="next()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <div class="dashes_container">

        <p class="letters">
            <ng-container *ngFor="let letter of rightGuesses">
              <span class="dashes">{{ letter }}</span>
            </ng-container>
        </p>
        
      </div>
      <app-keyboard (keyPress)="guess($event)"></app-keyboard>
    </ng-container>
  </div>
</app-card>

<router-outlet #outlet="outlet"></router-outlet>