<app-card>
    <div>
      <h2>Requests</h2>
      <button mat-button color="warn" routerLink="game-requests">Game Requests</button>
      <button mat-button color="warn" routerLink="redeem-requests">Redeem Requests</button>
    </div>
    <router-outlet></router-outlet>
    
</app-card>
  