<!-- <mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    [formControlName]="control"
  />
</mat-form-field> -->

<ng-container *ngIf="type!=='list';else list">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [type]="type"
      (input)="OnInput($event)"
      [placeholder]="placeholder"
    />
  </mat-form-field>
</ng-container>

<ng-template #list>
  <!-- <mat-form-field>
    <mat-label>{{label}}</mat-label>
  <mat-select [formControlName]="formControl" multiple>
      <mat-option *ngFor="let item of itemsList" [value]="item.id">
        {{item.value}}
        
      </mat-option>
  </mat-select>
  </mat-form-field> -->
</ng-template>