section{
    height: 100vh
}
app-button{
    margin: 0.5rem;
}
app-navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.details{
    padding: 1rem;
    
    
}
p{
    color: white;
    margin: 0.5rem 0rem;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    &:hover{
        color: red;
    }
}
.main{
    background-color: rgb(63, 59, 59);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    top: 4rem;
    
}

  .sidebar {
    flex-grow: 1;
    flex-basis: 15%;
    position: fixed;
    z-index: 2;
    height: 100%;
    
  }
  .details {
    flex-grow: 6;
    flex-basis: 85%;
   margin-left: 12rem;
  }
  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    span {
     
  
      &:hover {
        background-color: rgb(247, 237, 234);
      }
    }
  }
  