<form action="" class="form" [formGroup]="editDoctorForm">
  <ng-container *ngFor="let field of formFields">
    <app-input
      [label]="field.label"
      [type]="field.inputType"
      [placeholder]="field.placeholder"
      [formControlName]="field.controlName"
    ></app-input>
  </ng-container>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</form>
