<div class="main">
    <h1>All Tournaments Requests</h1>
    <ng-container *ngFor="let game of pendingRequests">
      <mat-card class="card">
        <div class="details">
          <img src="../../../../../assets/images/hangman.png" alt="" />
          <span>ID: {{ game.tournamentId }}</span>
          <span>{{ game.tournamentName | uppercase }}</span>
          <div class="prizes">
              <span>Prizes</span>
              <span>1st Prize: {{ game.firstPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
              <span>2nd Prize: {{ game.secondPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
              <span>3rd Prize: {{ game.thirdPriceCoins }}<mat-icon>monetization_on</mat-icon></span>
          </div>
          <div class="list" *ngIf="game.categoryList!==null;else noCategory">
            <span *ngFor="let category of game.categoryList">{{ category }}</span>
          </div>
          <ng-template #noCategory>
            <span>Any</span>
          </ng-template>
          <app-button
            label="Accept"
            color="accent"
          (onClick)="acceptRequest(game.tournamentId)"></app-button>
          <app-button
          label="Reject"
          color="accent"
          (onClick)="rejectRequest(game.tournamentId)"
        ></app-button>
        </div>
      </mat-card>
    </ng-container>
  </div>
