button{
    margin: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(228, 19, 54);
    color: white;
    box-shadow: 2px 4px rgba(0,0,0,0.3);
    font-family: cursive;
}
.keys{
    min-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    

}