.image-container{
   
    img{
        background-size: cover;
        width: 16rem;
        border-radius: 0.5rem;
        box-shadow: 2px 4px rgba(0,0,0,0.3);
    }
}

.head{
    display: flex;
    flex-direction: row;
    
}
mat-card{
    // background-color: rgb(4, 114, 117);
    margin-top: 4rem;
    background-color: rgb(44, 1, 31);

    .details{
        p{
            margin: 1rem;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
               display: flex;
                flex-direction: row;
                justify-content: space-between;
                p{
                    display: flex;
                    align-items: center;
                    
                    mat-icon{
                       
                        color: gold;
                    }
                }
            }
        }
        color: white;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
h1{
    color: white;
}
.icon{
    position: relative;
    left: 30rem;
}
.name{
    margin: 0rem 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(13, 148, 92);
}
.gift-container{
    display: flex;
    flex-direction: column;
    
}
.gift{
    background-color: rgb(82, 81, 81);
    margin: 1rem;
    p{
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        span{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    mat-icon{
                    
        color: gold;
    }
}