<mat-card>
  <div class="head">
    <div class="image-container">
      <img src="../../../../../assets/images/profile-img.jpg" alt="" />
    </div>
    <div class="details">
      <div>
        <div>
            <p>{{profileDetails.playerId}}</p>
            <p class="icon">Coins: {{profileDetails.totalCoins}}<mat-icon> monetization_on</mat-icon></p>
        </div>
        <p>{{profileDetails.playerName}}</p>
        <p>{{profileDetails.userName}}</p>
        <p>Total Games Played- {{profileDetails.gamesPlayed}}</p>
        <p>Total Games Created-{{profileDetails.noOfTournamentsCreated}}</p>
        
      </div>
    </div>
  </div>
</mat-card>

<div>
  <!-- <button mat-button>Progress</button> -->
  <mat-card>
    <app-button label="Progress >" (onClick)="toggleProgress()"></app-button>
    <div class="head" *ngIf="progressOpen">
        <highcharts-chart 
        [Highcharts]="Highcharts"
        [options]="chartOptions"
      
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
    </div>
  </mat-card>

  <mat-card>
    <app-button label="Gifts >" (onClick)="toggleGifts()"></app-button>
    <div class="gift-container" *ngIf="giftsOpen">
      <h1>Available Gifts</h1>
      <ng-container *ngFor="let gift of availableGifts">
        <mat-card class="gift">
            <p><span>{{ gift.giftName }}</span>  <span>{{ gift.giftValue }}<mat-icon> monetization_on</mat-icon></span>
                <app-button [label]="'Redeem'" (onClick)="redeemGift(gift.giftId)"></app-button>
            </p>
        </mat-card>
      </ng-container>
      <h1>Upcoming Gifts</h1>
      <ng-container *ngFor="let gift of unavailableGifts">
        <mat-card class="gift">
            <p><span>{{ gift.giftName }}</span>  <span>{{ gift.giftValue }}<mat-icon> monetization_on</mat-icon></span>

            </p>
        </mat-card>
      </ng-container>
    </div>
  </mat-card>
</div>
