<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let column of dataColumns">
        
        <ng-container
          *ngIf="column !== 'actions'; then elementData; else actions"
        ></ng-container>
        
        <ng-template #elementData>
            <ng-container matColumnDef="{{ column }}">
                <th mat-header-cell *matHeaderCellDef>{{ column | uppercase }}</th>
                <ng-container *ngIf="column==='lastLoginTime';else stringElement">
                  <td mat-cell *matCellDef="let element">
                      <span *ngIf="element[column]!==null">{{element[column] | date}}</span>
                  </td>
                </ng-container>
                <ng-template #stringElement>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column] }}
                  </td>
                </ng-template>
            </ng-container>
        </ng-template>
    
        <ng-template #actions>
          <ng-container matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef>{{column | uppercase }}</th>
            <td mat-cell *matCellDef="let element">
    
                
                <ng-container *ngFor="let button of buttons">
                  <button mat-button color="warn" (click)="button.action(element)">{{button.name}}</button>
                </ng-container>
            </td>
          </ng-container>
        </ng-template>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns"></tr>
    
     
    </table>
    
    
   
  </div>