<div class="form-container">
  <mat-tab-group>
    <mat-tab label="Sign Up">
      <form
        action=""
        class="form"
        [formGroup]="signUpCredentials"
        (ngSubmit)="onSignUp()"
      >
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input
            matInput
            placeholder="Enter Email"
            formControlName="userName"
            type="email"
          />
          <mat-error
            *ngIf="
              signUpCredentials.controls['userName'].hasError('email') &&
              !signUpCredentials.controls['userName'].hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="signUpCredentials.controls['userName'].hasError('required')"
          >
            Email is required
          </mat-error>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <!-- <app-input [label]="'Email'" placeholder="Enter Email" control="email" type="email"></app-input> -->
        <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter Password"
            formControlName="userPassword"
          />
          <mat-error
            *ngIf="
              signUpCredentials.controls['userPassword'].hasError('required')
            "
          >
            password is required
            <ng-template #minlength> Minimum 6 characters </ng-template>
          </mat-error>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Player Name </mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter Player Name"
            formControlName="playerName"
          />
          <mat-error
            *ngIf="
              signUpCredentials.controls['playerName'].hasError('required')
            "
          >
            Player name is required
          </mat-error>
          <mat-hint>Enter the name</mat-hint>
        </mat-form-field>
        <div class="button">
          <button type="submit" mat-raised-button color="primary">
            Sign Up
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Log In">
      <form
        action=""
        class="form"
        [formGroup]="loginCredentials"
        (ngSubmit)="onLogin()"
      >
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input
            matInput
            placeholder="Enter Email"
            formControlName="userName"
            type="email"
          />
          <mat-error
            *ngIf="
              loginCredentials.controls['userName'].hasError('email') &&
              !loginCredentials.controls['userName'].hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="loginCredentials.controls['userName'].hasError('required')"
          >
            Email is required
          </mat-error>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter Password"
            formControlName="password"
          />
          <mat-error
            *ngIf="loginCredentials.controls['password'].hasError('required')"
          >
            password is required
            <ng-template #minlength> Minimum 6 characters </ng-template>
          </mat-error>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <div class="button">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
        <!-- <div class="link"> -->
        <a class="link" (click)="openResetPasswordDialog()">Forgot Password</a>
        <!-- </div> -->
      </form>
    </mat-tab> </mat-tab-group
  >y
</div>

<!-- 
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
